<?xml version="1.0" encoding="utf-8"?>
<configuration><appSettings file="">
  <clear />
  <add key="SMTP.Port" value="25" />
  <add key="SMTP.RootMailDir" value="/tmp/mail" />
  <add key="WhatsApp.Target" value="491739561779" />
  <add key="WhatsApp.NickName" value="FFW-Neubeuern" />
  <add key="WhatsApp.Sender" value="4980353749" />
  <add key="WhatsApp.Password" value="9QhpZsVLKJAqg7RQdr0hpmqpA5Q=" />
</appSettings></configuration>